// Layout: #header.
$header-color: #b2b2b2;
$header-background-color: #2f2f2f;
$header-link-color: $header-color;
$header-link-hover-color: #ffffff;
$header-padding-vertical: 2em;
$header-padding-horizontal: 3%;
$header-height: 12em;
$header-width: 100%;
$header-left-width: 15%;
$header-right-width: $header-width - $header-padding-horizontal*2 - $header-left-width;


// Layout: #content.
$content-link-color: #858586;
$content-link-hover-color: #2f2f2f;
$content-section-header-color: #cccccc;
$content-padding-vertical: 4em;
$content-padding-horizontal: $header-padding-horizontal + $header-left-width;


// Module: .profile.
$profile-name-color: #ffffff;


// Module: .tags.
$tag-icon-color: #cb6898;
