mixin charts(chartGroup)
  .chart-group(data-chart-group-id="#{chartGroup.id}")
    .chart-group-name
      each name, locale in chartGroup.name.localized
        span(lang="#{locale}")!= name + ":"
    each chart in chartGroup.charts
      .chart-group-link(data-chart-id="#{chart.id}")
        each name, locale in chart.name.localized
          span(lang="#{locale}")!= name
    .chart
