#header {
  color: $header-color;
  background-color: $header-background-color;
  padding: $header-padding-vertical $header-padding-horizontal;
  height: $header-height;
  width: $header-width;

  a {
    color: $header-link-color;
    border-bottom: dotted 1px;
    text-decoration: none;

    &:hover {
      color: $header-link-hover-color;
    }
  }

  #header-left {
    float: left;
    width: $header-left-width;
  }

  #header-right {
    width: $header-right-width;
  }
}
