@font-face {
  font-family: "AleksandraC";
  src: url("aleksandra.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

img {
  max-height: 100%;
  max-width: 100%;
}

body {
  > header {
    color: $header-color;
    background-color: $header-background-color;
    width: 100%;

    a {
      color: $header-link-color;
      border-bottom: dotted 1px;
      text-decoration: none;

      &:hover {
        color: $header-link-hover-color;
      }
    }
  }

  > section {
    margin: 2em 0;

    a {
      color: $section-link-color;
      border-bottom: solid 1px;
      text-decoration: none;

      &:hover {
        color: $section-link-hover-color;
      }
    }
  }

  > footer {
    color: $footer-color;
    background-color: $footer-background-color;
    text-align: center;
  }
}

main {
  section {
    > header {
      color: $main-section-header-color;
      padding-bottom: .5em;

      h1 {
        font-family: "AleksandraC";
        font-size: 1.7em;
        margin-left: -.6em;

        > span:first-child {
          margin-right: .2em;
          visibility: hidden;
        }
      }

      hr {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        height: 0;
      }
    }

    article {
      padding-bottom: 2em;

      > header {
        h1 {
          font-family: "AleksandraC";
          font-size: 1.5em;
          font-weight: bold;
          margin-left: -.6em;

          > span:first-child {
            margin-right: .2em;
            visibility: hidden;
          }
        }
      }
    }
  }
}

aside {
  position: relative;
}
