$header-color: #b2b2b2;
$header-bg-color: #2f2f2f;
$header-link-color: $header-color;
$header-link-hover-color: #ffffff;
$header-active-link-color: #ffffff;
$header-title-color: #ffffff;

$main-color: #000000;
$main-bg-color: #ffffff;
$main-link-color: #858586;
$main-link-hover-color: #2f2f2f;
$main-section-header-color: #cccccc;

$footer-color: $header-color;
$footer-bg-color: $header-bg-color;

$icon-color: #cb6898;
