$header-color: #b2b2b2;
$header-background-color: #2f2f2f;
$header-link-color: $header-color;
$header-link-hover-color: #ffffff;
$header-active-link-color: #ffffff;
$header-title-color: #ffffff;

$footer-color: $header-color;
$footer-background-color: $header-background-color;

$section-link-color: #858586;
$section-link-hover-color: #2f2f2f;

$main-section-header-color: #cccccc;

$icon-color: #cb6898;
