.details {
  height: 12em;

  img {
    float: left;
    padding-right: 2em;
  }

  header {
    font-family: "AleksandraC";

    h1 {
      color: $header-title-color;
      font-size: 1.7em;
      padding: .1em 0;
    }
  }

  section {
    margin: 1em 0;
  }
}
