.details {
  height: 12em;

  img {
    float: left;
    padding-right: 2em;
  }

  h1 {
    color: $header-title-color;
    font-family: "AleksandraC";
    font-size: 1.7em;
    padding: .1em 0;
  }

  h2 {
    font-family: "AleksandraC";
  }

  section {
    margin: 1em 0;
  }
}
