aside
  nav
    .account-links
      .account-link
        div: i.fa.fa-github-square
        div: a(href="#") pempel
      .account-link
        div: i.fa.fa-linkedin-square
        div: a(href="#") pempel
    .section-links
      .section-link
        div: i.fa.fa-angle-right
        div: a(href="#projects") Проекты
      .section-link.sub
        div: i.fa.fa-angle-right
        div: a(href="#project-named-reflective") Reflective
      .section-link.sub
        div: i.fa.fa-angle-right
        div: a(href="#project-named-musk") Musk
      .section-link
        div: i.fa.fa-angle-right
        div: a(href="#code-examples") Примеры кода
      .section-link.sub
        div: i.fa.fa-angle-right
        div: a(href="#code-examples-in-ruby") Ruby
      .section-link
        div: i.fa.fa-angle-right
        div: a(href="#jobs") Работа
      .section-link.sub
        div: i.fa.fa-angle-right
        div: a(href="#job-at-leader-telecom") Leader Telecom
      .section-link.sub
        div: i.fa.fa-angle-right
        div: a(href="#job-at-intellect-design") Intellect Design
      .section-link
        div: i.fa.fa-angle-right
        div: a(href="#higher-education") Высшее образование
      .section-link
        div: i.fa.fa-angle-right
        div: a(href="#language-courses") Языковые курсы
