section
  header
    h1#higher-education
      span: i.fa.fa-angle-right
      span Высшее образование
    hr
  article
    header
      h1
        span: i.fa.fa-angle-right
        span Московский институт электронной техники (НИУ МИЭТ)
    .tags
      .tag
        div: i.fa.fa-link
        div: a(href="http://www.miet.ru") miet.ru
      .tag
        div: i.fa.fa-clock-o
        div с сентября 2005 по июнь 2010 &mdash; 5 лет
      .tag
        div: i.fa.fa-smile-o
        div инженер по специальности &laquo;прикладная математика&raquo;
      .tag
        div: i.fa.fa-star
        div закончил с отличительным дипломом красного цвета
      .tag
        div: i.fa.fa-star
        div защитил дипломный проект на тему: &laquo;<a href="research.pdf">расчет джозефсоновского контакта с нелокальной электродинамикой</a>&raquo;
