section
  header
    h1#code-examples
      span: i.fa.fa-angle-right
      span(lang="en") Code Examples
      span(lang="ru") Примеры кода
    hr
  article
    header
      h1#code-examples-in-ruby
        span: i.fa.fa-angle-right
        span Ruby
    .examples
      .example
        div &mdash;
        div: a(href="https://gist.github.com/pempel/9a2a23a3f27134220294") MoneyValidator
        div rails, active_model
      .example
        div &mdash;
        div: a(href="https://gist.github.com/pempel/44370abe07eaae78fe07") Devise::Strategies::XTokenAuthenticatable
        div rails, devise
      .example
        div &mdash;
        div: a(href="https://gist.github.com/pempel/d77379ce4f399b278ab3") Order::Statable 
        div rails, active_support
      .example
        div &mdash;
        div: a(href="https://gist.github.com/pempel/f8f347b172a1bbdc9c23") FactoryGirl::Syntax::Methods
        div rails, factory_girl_rails
      .example
        div &mdash;
        div: a(href="https://gist.github.com/pempel/c04ec63d137aa9cd9b6d") Unless
        div coding style
