doctype html
html
  head
    meta(charset="utf-8")
    title Евгений Пемпель
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="main.css")
  body
    include header
    include section
    include footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="main.js")
