article
  header
    h1#job-at-intellect-design
      span: i.fa.fa-angle-right
      span Intellect Design
  .tags
    .tag
      div: i.fa.fa-link
      div: a(href="http://www.intellectdesign.ru") intellectdesign.ru
    .tag
      div: i.fa.fa-clock-o
      div c октября 2013 по январь 2014 &mdash; 4 месяца
    .tag
      div: i.fa.fa-smile-o
      div разработчик Ruby on Rails
    .tag
      div: i.fa.fa-coffee
      div в московском офисе
  .technologies
    .technology
      div Базы данных:
      div mysql
    .technology
      div Фреймворки:
      div rails
    .technology
      div Языки:
      div ruby
    .technology
      div Библиотеки:
      div activeadmin, state_machine, active_model_serializers, apipie-rails, activerecord-nulldb-adapter, rspec-rails, factory_girl_rails
    .technology
      div Инструменты:
      div git
    .tags
      .tag
        div: i.fa.fa-star
        div реализовал бизнес-логику клиентских заказов (см. пример <a href="https://gist.github.com/pempel/d77379ce4f399b278ab3">Order::Statable</a>)
      .tag
        div: i.fa.fa-star
        div реализовал REST JSON API для нескольких справочников с полным покрытием тестами и документацией, которая генерировалась из кода и тестов
      .tag
        div: i.fa.fa-star
        div многократно ускорил выполнение тестов, отрефакторив их таким образом, чтобы обращение к базе данных производилось только при необходимости
