article
  header
    h1#job-at-leader-telecom
      span: i.fa.fa-angle-right
      span Leader Telecom
  .tags
    .tag
      div: i.fa.fa-link
      div: a(href="http://www.leadertelecom.biz") leadertelecom.biz
    .tag
      div: i.fa.fa-clock-o
      div март 2014 &mdash; 1 месяц
    .tag
      div: i.fa.fa-smile-o
      div разработчик Ruby on Rails
    .tag
      div: i.fa.fa-bullhorn
      div удалённо
  .technologies
    .technology
      div Базы данных:
      div mysql
    .technology
      div Фреймворки:
      div rails
    .technology
      div Языки:
      div ruby
    .technology
      div Библиотеки:
      div active_modal_serializers, apipie-rails, her, virtus, rspec-rails, factory_girl_rails
    .technology
      div Инструменты:
      div git
    .tags
      .tag
        div: i.fa.fa-star
        div реализовал REST JSON API для личного кабинета партнера с полным покрытием тестами и документацией, которая генерировалась из кода и тестов
