section
  header
    h1 Языковые курсы
    hr
  article
    header
      h1 BKC&ndash;IH Moscow
    .tags
      .tag
        div: i.fa.fa-link
        div: a(href="http://www.bkc.ru") bkc.ru
      .tag
        div: i.fa.fa-clock-o
        div с сентября по ноябрь 2013 &mdash; 3 месяца
      .tag
        div: i.fa.fa-star
        div закончил интенсивный курс английского языка ступени &laquo;pre-intermediate&raquo;
  article
    header
      h1 BKC&ndash;IH Moscow
    .tags
      .tag
        div: i.fa.fa-link
        div: a(href="http://www.bkc.ru") bkc.ru
      .tag
        div: i.fa.fa-clock-o
        div с сентября 2009 по январь 2010 &mdash; 5 месяцев
      .tag
        div: i.fa.fa-star
        div закончил курс английского языка ступени &laquo;pre-intermediate&raquo;
