article
  header
    h1#project-named-reflective
      span: i.fa.fa-angle-right
      span Reflective
  .task
    div Задача:
    div наглядным образом представить свое портфолио.
  .tags
    .tag
      div: i.fa.fa-home
      div: a(href="#") pempel.me
    .tag
      div: i.fa.fa-github-alt
      div: a(href="https://github.com/pempel/reflective") pempel/reflective
  .technologies
    .technology
      div Языки: 
      div bash, html, css, scss, javascript
    .technology
      div Фреймворки:
      div compass
    .technology
      div Инструменты:
      div grunt.js, mina, vagrant, nginx, vim, git
