article
  header
    h1#project-named-reflective
      span: i.fa.fa-angle-right
      span Reflective
  .task(lang="en")
    div Task:
    div to present my portfolio in a visual way.
  .task(lang="ru")
    div Задача:
    div наглядным образом представить свое портфолио.
  .tags
    .tag
      div: i.fa.fa-home
      div: a(href="/") pempel.in/work
    .tag
      div: i.fa.fa-github-alt
      div: a(href="https://github.com/pempel/reflective") pempel/reflective
  .technologies
    .technology(lang="en")
      div Languages:
      div bash, html, css, javascript
    .technology(lang="ru")
      div Языки:
      div bash, html, css, javascript
    .technology(lang="en")
      div Metalanguages:
      div jade, sass
    .technology(lang="ru")
      div Метаязыки:
      div jade, sass
    .technology(lang="en")
      div Frameworks:
      div compass
    .technology(lang="ru")
      div Фреймворки:
      div compass
    .technology(lang="en")
      div Tools:
      div grunt.js, mina, vagrant, nginx, vim, git
    .technology(lang="ru")
      div Инструменты:
      div grunt.js, mina, vagrant, nginx, vim, git
