article
  header
    h1#project-named-musk
      span: i.fa.fa-angle-right
      span Musk
  .task(lang="en")
    div Task:
    div to automate the extraction of music metadata from <a href="http://www.discogs.com">discogs.com</a> and adding it to your MP3 files so that they appear properly in your favorite player.
  .task(lang="ru")
    div Задача:
    div автоматизировать извлeчение MP3-тегов с сайта <a href="http://www.discogs.com">discogs.com</a> и запись этих тегов в MP3-файлы для их корректного отображения в любимом плеере.
  .tags
    .tag
      div: i.fa.fa-github-alt
      div: a(href="https://github.com/pempel/musk") pempel/musk
  .technologies
    .technology(lang="en")
      div Languages:
      div ruby
    .technology(lang="ru")
      div Языки:
      div ruby
    .technology(lang="en")
      div Libraries:
      div gli, taglib-ruby, rspec, factory_girl
    .technology(lang="ru")
      div Библиотеки:
      div gli, taglib-ruby, rspec, factory_girl
    .technology(lang="en")
      div Tools:
      div vim, git
    .technology(lang="ru")
      div Инструменты:
      div vim, git
