article
  header
    h1 Musk
  .task
    div Задача:
    div автоматизировать процесс извлeчения MP3-тегов с сайта <a href="http://www.discogs.com">discogs.com</a> и записи этих тегов в соответствующие MP3-файлы для их корректного отображения в любимом плеере.
  .tags
    .tag
      div: i.fa.fa-github-alt
      div: a(href="https://github.com/pempel/musk") pempel/musk
  .technologies
    .technology
      div Языки:
      div ruby
    .technology
      div Библиотеки:
      div gli, taglib-ruby, rspec, factory_girl
    .technology
      div Инструменты:
      div vim, git
